This is a local chrome extension to add a PHP console to your DevTools.

This extension is utilizing the web tinker package by spatie: https://github.com/spatie/laravel-web-tinker.

What it does, is it basically iframes the /tinker route into the extension.